/*-------------------------------------------------Couleurs-------------------------------------------------------------------------*/
body {
	background: #2e2d26;
	color: #e8f5f5;
}
header, .nav-sub {
	background:  #59402d ; 
}
footer {
	background-color: #433c3c; 
}
h1, footer p , .prev,.next  {
	color: #f4f4f4;
}
.bar1,.bar2,.bar3, .dot{  
	background-color:#101010;  
}
#switch_theme :hover {
	background-color: #11111180;
}
.prev:hover, .next:hover {
	background-color: rgba(0,0,0,0.8);
}
.active, .dot:hover {
	background-color: #717171;
}
.mySlides img {
	border : 5px solid #101010;
}
.barre, .barre_petite {
	background-color: #f4f4f4  ;
}

/*--------------------------------------------------------Eléments principaux--------------------------------------------------------*/

/*Balises*/
body {
	width:100%;
	min-height: 100vh;
	margin: 0;
}


header {
	z-index: 100;
    height: 70px;
    position: fixed;
    top: 0; left : 0 ;
    width: 100%;

}

a:any-link {
	color: inherit;
	text-decoration: none;
}

main {
	position: relative;
	margin: 72px 80px 10px 80px;
	padding: 0 20px;
	min-height: 100vh;
}

/*Classes*/

.logo {
	max-width: fit-content;
	min-height: 32px;
	position: fixed;
	top: 5px; left : 50px ;
}

.texte_centre {
	text-align: center;
}

.barre {
	display: block;
	width:50%;  
	height:3px;  
	margin:5px auto;  
}
.barre_petite {
	display: block;
	width:20%;  
	height:3px;  
	margin:5px 0;  
}


/*Police, gestion des titres*/

p {
	font-family: 'Quicksand', sans-serif;
	line-height: 1em;
	font-size: 16px !important;
}
h1 {
	font-family: 'Almendra SC', serif;
	font-size: 2.5em;
}

h2 {
	font-family: 'Almendra SC', serif;
	font-size: 2em !important; 
	padding-top: 0.5em ;

}

.faq h3 {
	font-family: 'Quicksand', sans-serif;
	font-size: 1.2em;
}

.faq p {
	font-size: 1em;
}

article p {
	font-size: 1.2em;
}

article a:any-link {
	text-decoration: underline;
}

/*-------------------------------------------------------------Navbar----------------------------------------------------------------*/
/*Hamburger*/
.ham{  
	display:block;
	position: absolute;
	top:23px ; left: 5px;  
	cursor: pointer;
}

.change .bar1 {  
   transform: rotate(45deg) translate(8px,3px);  
}  
.change .bar2 {  
   opacity: 0;  
}  
.change .bar3 {  
   transform: rotate(-45deg) translate(8px,-3px);  
}

.bar1,.bar2,.bar3{  
	display:block;  
	width:35px;  
	height:3px;  
	margin:5px auto;   
}

/*Barre coté*/    

nav{  
	display:flex;  
	top:0;  
	height:100%;  
	justify-content:flex-start;  
	align-items:center;   
	padding:0px 20px;   
}  
  
.nav-sub{  
	display:flex;  
	justify-content:flex-start;  
	height: 100%;
	align-items:center;   
}  
.list-item {  
	padding:10px;  
	list-style:none;  
}
.list-item-active, .list-item:hover {  
	text-decoration: underline;
	padding:10px;
	list-style:none;  
}    
.nav-link{  
	color:inherit;  
	text-decoration:none;  
}   


/*-----------------------------------------------------------Theme-------------------------------------------------------------------*/
/*Switch_theme*/
#switch_theme {
	position: absolute;
	right: 15px ; top :15px ;
	width: 28px;
	height: 28px;
	border-radius: 8px;
	padding: 8px 0 0 8px;
}

#switch_theme:hover {
	border-radius: 8px;
}
/*Footer-----------------------------------------------------------------------------------------------------------------------------*/
footer {
	display: grid;
	text-align: center !important;
	grid-template-columns: 49% 49%;
	grid-template-rows: min-content;
	gap: 0px 2%;
	grid-auto-flow: row;
	justify-content: center;
	grid-template-areas:
	  "bas_gauche bas_droite";
	padding: 0px 5%;
	width: 90%;
	height: auto;
	position: relative ;	
	margin-top: 1.5em;
}


.bas_gauche { grid-area: bas_gauche;
	display: grid;
	width: fit-content;
	margin: 0 auto;
	grid-template-columns: 100%;
	grid-template-rows: min-content;
	gap: 0px 0px;
	gap : 5px ;
	grid-auto-flow: row;
	grid-template-areas:
	  "haut"
	  "bas";
	grid-area: bas_gauche;
}
  
.bas_droite {  display: grid;
	width: fit-content;
	margin: 0 auto;
	grid-template-columns: 100%;
	grid-template-rows: min-content;
	gap: 0px 0px;
	gap : 5px ;
	grid-auto-flow: row;
	grid-template-areas:
	  "haut"
	  "bas";
	grid-area: bas_droite;
}
  
  
.haut { grid-area: haut; 
}
  
  
.bas { grid-area: bas; 
}

.haut, .bas {
	width: 100%;
	height: min-content;
	text-align:center;
}




/*-------------------------------Fin du style par défaut--------------------------------------------------------------------------------------*/
.galerie {  display: grid;
	grid-template-columns: 33% 34% 33%;
	grid-template-rows: min-content;
	gap: 5px 5px;
	grid-auto-flow: row;
	grid-template-areas:
	  "gauche_grd gauche_grd droite_petit"
	  "gauche_petit droite_grd droite_grd";
	margin-bottom: 5px;
	padding-top: 5px;
	width: calc(100% - 10px);
}

.gauche_grd { grid-area: gauche_grd; } 
.droite_petit { grid-area: droite_petit; } 
.droite_grd { grid-area: droite_grd; }
.gauche_petit { grid-area: gauche_petit; }

.galerie img {
	width: 100% ;
	height: auto;
}
.gauche_petit , .droite_petit {
	display:flex;  
	align-items:center;   
	justify-content: space-between;
	flex-direction: column;
	padding-bottom: 4px;
}
.gauche_petit , .droite_petit {
	font-size: 80%;
}
.galerie h2 {
	text-align: center;
	padding-top: 0;
}
/*------------------------------------------------Slideshow container */
.slideshow-container {
  	max-width: 100%;
 	position: relative;
	width: fit-content;
  	margin: 0 auto;
  	border-radius: 5px;
	height: min-content;
	color: #101010;
}

.mySlides {
  display: none;
  font-family: 'Almendra SC', serif;
}
.mySlides img {
	z-index: 1;
	border-radius: 5px;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: -5px;
  border-radius: 3px 0 0 3px;
}
.prev {
	left: 5px;
	border-radius: 3px 0 0 3px;
}

.text {
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	top: 10px;
	right: 10px;
	text-align: center;
}


.dots {
	text-align: center;
	position: absolute;
	bottom: 15px ;
	width: 100%;
}
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
	z-index: 2;
}

/*------------------------------------------------------------------------Règles - Adaptivité ---------------------------------------*/

@media (min-width: 768px) { /*Ecran de plus de 768px : ordinateur et tablette*/
	.logo {
		min-height: 32px;
		position: fixed;
		top: 5px; left : 5px ;
	}
	
	.ham{  
		display:none; /*hamburger caché*/
	}  
	 
	.bar1,.bar2,.bar3{  
		display:block;  
		width:35px;  
		height:3px;  
		margin:5px auto;  
		transition: 0.4s;  
	}   
}

@media (max-width :767px ) {
	.list-item {  
		padding:10px;  
		list-style:none;  
	}  
	.nav-link{  
		color:inherit;  
		text-decoration:none;  
	}  
	.galerie {  display: grid;
		grid-template-columns: 100%;
		gap: 5px 5px;
		grid-template-rows: min-content min-content;
		grid-template-areas:
		  "gauche_grd"
		  "droite_petit"
		  "droite_grd"
		  "gauche_petit";
		margin-bottom: 5px;
		padding-top: 10px;
	}
	.gauche_petit, .droite_petit {
		height: calc(100% + 5px);
	}  
		  
	.nav-sub{  
		visibility: hidden;
		position:absolute;
		padding: 0 10px;  
		top:54px;  left:-6px;  
		flex-direction:column;   
		transition: transform 0.3s ease-in;  
		transform:translate(100%);
		height: 100vh;  
	}  
	.nav-change{  
		transform:translate(0%);  
		visibility: visible;
	} 
}


@media (min-width: 2560px) { /*4K*/
	main {
		margin: 72px 10vw 10px 10vw;
		padding: 2vh 20px;
	}
	p {
		font-size: 20px !important;
	}
	h2 {
		margin-top: 1em;
		padding-top: 1em ;
	}
}

@media (min-width: 1440px) and (max-width: 2560px) { /*ordinteur portable L*/
	main {
		margin: 72px 10vw 10px 10vw;
		padding: 0 20px;
	}
}

@media (min-width: 1024px) { /*ordinteur portable*/
	main {
		margin: 72px 60px 10px 60px;
		padding: 0 20px;
	}
}

@media (max-width: 600px) {
	main {
		margin: 72px 40px 10px 40px;
		padding: 0 10px;
	}

}
@media (max-width: 500px) {
	main {
		margin: 72px 30px 10px 30px;
		padding: 0 10px;
	}
}

@media (max-width: 400px) {
	main {
		margin: 72px 20px 10px 20px;
		padding: 0 5px;
	}
}

@media (orientation: landscape) and (max-width: 1000px) {
	main {
		margin: 72px 20px 10px 20px;
		padding: 0 5px;
	}
}
